body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* 使用 min-height 确保页面内容至少占满视口高度 */
    margin: 0;
    padding: 20px; /* 添加一些内边距，避免内容紧贴屏幕边缘 */
    box-sizing: border-box; /* 确保内边距不会影响元素的总宽度 */
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* 初始宽度为 100% */
    max-width: 300px; /* 最大宽度限制为 300px */
    box-sizing: border-box; /* 确保内边距不会影响元素的总宽度 */
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; /* 确保内边距不会影响元素的总宽度 */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}